// Colors
$primary-color: #f3f8ff;
$secondary-color: #66bfbf;
$card-color: #f9f9f9;
$success-dark: #019772;
$success-light: #aeddd1;
$wait-dark: #5d599b;
$wait-light: #8785a2;
$active-dark: #ff7171;
$active-light: #ffc7c7;
$danger-dark: #df213b;
$danger-light: #e75d6f;