// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

// Variables
@import 'variables';
@import 'utilities';
@import 'header';
@import 'progress';

// Courses
@import 'courses/top-bar';
@import 'courses/cards';
@import 'courses/active';
@import 'courses/upcoming';
@import 'courses/done';
@import 'courses/stopped';

// Projects
@import 'projects/top-bar';
@import 'projects/active';
@import 'projects/pending';
@import 'projects/done';


body {
    background: $primary-color;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}

/* Content */
.content-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 0.5rem;
}

/* HR */
.rule {
    border: dotted 5px #555555;
    border-bottom: none;
    margin: 2rem 0;
}

@import "media";