/* Stopped Course */
#courses-report {
    #stopped-courses {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;

        .stopped-course {
            display: grid;
            grid-template-rows: 0.25fr 1fr 0.5fr;
            grid-gap: 0.5rem;
            justify-content: center;
            background: $danger-light;
            border-radius: 20px;
            text-align: center;
            padding: 0.8rem;
            box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.15);

            .meta {
                text-align: center;
                font-size: 0.65rem;
                font-weight: 500;
                color: #ffffff;
            }

            .title {
                font-size: 0.75rem;
                font-weight: 800;
            }

            .intructor {
                font-size: 0.75rem;
                font-weight: 500;
                color: #831221;
            }

            .stopped-btn {
                font-size: 0.7rem;
                font-weight: 700;
                border: none;
                background: $danger-dark;
                color: #ffd8ce;
                padding: 0.25rem 1rem;
                border-radius: 10px;
            }
        }
    }
}